.places-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $space-lg;
	font-size: 1.5rem;
	font-weight: 500;

	.places-distance {
		display: flex;
		align-items: center;
		gap: $space-sm;
	}
}

.places-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: auto;
	gap: $space-lg;

	@include media('lg') {
		grid-template-columns: repeat(2, 1fr);
	}

	.place-card {
		display: flex;
		flex-flow: column;
		padding: $space-lg;
		font-size: 1.5rem;
		font-weight: 400;
		background-color: $white;
		border-radius: 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

		.card-title {
			margin-bottom: $space-xs;
			font-size: 1.7rem;
		}

		.card-subtitle {
			margin-bottom: $space-md;
			font-weight: 500;
		}

		.card-address {
			margin-bottom: $space-lg;
			color: $gray-4;
		}

		.card-links {
			.card-link {
				display: flex;
				margin-bottom: $space-md;

				&-website {
					max-width: 100%;
					white-space: normal;
					word-break: break-all;
					word-wrap: break-word;
					overflow-wrap: break-word;
				}

				.material-symbols-outlined {
					position: relative;
					top: 0.15rem;
					font-size: 2rem;
					margin-right: $space-lg;
				}

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.loader-card {
		height: 29.27rem;
		background: linear-gradient(to right, rgba($gray-2, 0.5) 8%, rgba($gray-3, 0.625) 18%, rgba($gray-2, 0.5) 33%);
		background-size: 2000px 100%;
		border-radius: 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		animation: shimmer 2s linear infinite forwards;
	}
}
