$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 3rem;

$gray-5: #020617; // 9
$gray-4: #334155; // 7
$gray-3: #cbd5e1; // 3
$gray-2: #e2e8f0; // 2
$gray-1: #f8fafc; // 0

$primary-color: #0576c7;
$secondary-color: #f97316;
$success: #048b3c;
$error: #dc2626;
$white: #fff;

$text-color: $gray-5;
$border-color: $gray-2;

$font-family: 'Roboto', serif;
